.deps/
Makefile*
aclocal.m4
autom4te.cache/
*.o
*.gcno
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
memcached
memcached-debug
missing
sizes
stamp-h1
testapp
timedrun
version.m4
core
